.app{
    padding-top: 30px;
}

table {
    margin-top: 20px;
    width: 100%;
}

.mat-cell{
    padding-left: 15px;
    padding-right: 15px;
}

.mat-header-row{
    background-color: lightgray;
}

.mat-progress-bar{
    display: inline-block;
    width: 100px;
    transform: rotate(180deg);
}

.accent{
    color: #ff4081;
}
.warn{
    color: #f44336;
}
.primary{
    color: #3f51b5;
}